@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Sans:wght@300;400;600;700&family=Mulish:ital,wght@0,400;0,500;0,600;0,700;1,200&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  font-size: 1.6rem;
}

.container {
  overflow: hidden;
}

.hamburger {
  width: 3rem;
  height: 2rem;
  position: fixed;
  z-index: 100;
  right: 4rem;
  top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.hamburger .line {
  width: 100%;
  height: 0.1rem;
  background-color: #fff;
  -webkit-box-shadow: 0.1rem 0.1rem 1px black;
          box-shadow: 0.1rem 0.1rem 1px black;
}

.hamburger .showmenu .hamburger {
  right: 18rem;
}

header {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

header .img-wraper {
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: rbga(0, 0, 0, 0.5);
}

header .img-wraper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  /* Nos ajudar na redução da tela inpedindo que a imagem fique retorcidad*/
  opacity: 0.9;
  -webkit-animation: zoom  8s;
          animation: zoom  8s;
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

header .banner {
  color: #fff;
  position: absolute;
  top: 30%;
  left: 15%;
  text-align: center;
}

@-webkit-keyframes moveBanner {
  0% {
    -webkit-transform: translateY(16rem) rotateY(-30deg);
            transform: translateY(16rem) rotateY(-30deg);
    /* vai descer no eixo y*/
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveBanner {
  0% {
    -webkit-transform: translateY(16rem) rotateY(-30deg);
            transform: translateY(16rem) rotateY(-30deg);
    /* vai descer no eixo y*/
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

header .banner h1 {
  font-size: 4rem;
  width: 100%;
  max-width: 45rem;
  font-family: "Baloo Da 2",'Courier New', Courier, monospace;
  line-height: 5rem;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
  font-weight: 200;
  -webkit-animation: moveBanner 1s  ease-out;
          animation: moveBanner 1s  ease-out;
}

header .banner p {
  text-align: left;
  font-family: "Josefin Sans",'Courier New', Courier, monospace;
  margin-top: 1.8rem;
  font-size: 2.4rem;
  line-height: 3.4rem;
  text-shadow: 0.1rem 0.1rem  black;
  font-weight: 300;
  text-align: center;
  -webkit-animation: moveBanner 1s  ease-out;
          animation: moveBanner 1s  ease-out;
}

header .banner button {
  font-family: 'Mulish','Courier New', Courier, monospace;
  margin-top: 2rem;
  background: #7F00FF;
  /* fallback for old browsers */
  background: -webkit-gradient(linear, right top, left top, from(#E100FF), to(#7F00FF));
  background: linear-gradient(to left, #E100FF, #7F00FF);
  padding: 1.6rem 3.2rem;
  color: #fff;
  text-transform: uppercase;
  border: none;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  font-weight: 500;
  border-radius: 0.5rem;
  -webkit-animation: moveBanner 1s  ease-out;
          animation: moveBanner 1s  ease-out;
}

header .banner button:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  opacity: 0.9;
}

.sidebar {
  width: 25rem;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  right: -25rem;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

.showmenu .sidebar {
  right: 0;
}

.menu {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu-item {
  text-align: center;
  margin: 2rem 0;
}

.menu-link {
  font-family: 'Mulish','Courier New', Courier, monospace;
  font-size: 2rem;
  line-height: 3rem;
  color: #555;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.menu-link:hover {
  color: #fff;
  background-color: #7F00FF;
  width: 100%;
  display: block;
  padding: 0 3rem;
  border-radius: 0.5rem;
}

.social-media {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.social-media i {
  height: 3.5rem;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-facebook {
  color: #3b5998;
  height: 2rem;
}

.fa-linkedin {
  color: #0e76a8;
}

.fa-github-square {
  color: black;
}

.social-media i:hover {
  opacity: 0.8;
}
/*# sourceMappingURL=style.css.map */