* {
  padding: 0;
  margin: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Archivo',Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

html, body {
  min-height: 100%;
}

.main-header {
  padding-top: 1px;
  width: 100%;
  height: 9rem;
  background-color: rgba(0, 0, 0, 0.8);
}

.main-header .container {
  width: 100%;
  max-width: 120rem;
  margin: 0.4rem auto;
  padding: 1rem;
}

.main-header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header .header-content .logo {
  background-image: url("https://i.pinimg.com/originals/63/6b/d3/636bd3cca4ff3f7adc61c1431b247770.jpg");
  width: 15rem;
  height: 5rem;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
}

.main-header .header-content .navegacao {
  width: 45rem;
}

.main-header .header-content .navegacao ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header .header-content .navegacao li {
  font-size: 1.8rem;
  line-height: 2.8rem;
  margin: 0 0.4rem;
}

.main-header .header-content .navegacao a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  border-radius: 8px;
  padding: 1rem;
}

.main-header .header-content .navegacao a:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  background-color: rgba(230, 240, 250, 0.3);
}

.main-section {
  width: 100%;
  background-color: #0390fc;
}

.main-section .container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}

.main-section .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-section .section-content {
  padding-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-section .section-content h2 {
  padding: 1rem;
  font-size: 3.2rem;
  line-height: 4.2rem;
  font-family: 'Poppins',Arial, Helvetica, sans-serif;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.main-section .section-content p {
  padding: 1rem;
  font-size: 2.2rem;
  line-height: 3.2rem;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.main-section .section-content button {
  width: 32rem;
  height: 6rem;
  font-size: 1.8rem;
  border: 0;
  background-color: #f0d019;
  margin-top: 1.2rem;
  border-radius: 0.8rem;
  line-height: 2.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.main-section .section-content button:hover {
  cursor: pointer;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  color: #fff;
}

.main-section .section-image img {
  display: block;
}

.main-section2 {
  padding: 40px 0;
}

.main-section2 h3 {
  text-align: center;
  font-size: 3rem;
  line-height: 4rem;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.main-section2 .container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}

.main-section2 .grid-container {
  margin: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-footer {
  background-color: #04247e;
  padding: 1.3rem;
  text-align: center;
  color: #fff;
}

.main-footer p {
  font: size 1.9rem;
  line-height: 2.9rem;
}
/*# sourceMappingURL=style.css.map */