:root{
  --blue: rgb(44, 97, 177);
}
*{
  padding:0;
  margin:0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Mulish',Arial, Helvetica, sans-serif;
}

html,body, #app{
  height: 100%;
}

body{
   text-rendering: optimizeLegibility !important;
   -webkit-font-smoothing: antialiased !important;
    background-image: url(../assets/bg1.jpg);
    background-size:cover;
    background-position: center;  
}

#app{
  background-color:rgba(0,0,0,0.6);
}

.container{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.header-content{
  width: 100%;
  min-width: 1280px;
  padding: 0 2%;
  padding-top:20px;
}

.icons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

.icone1, .icone2{
  margin: 0  8px;
}

.icone1{
  width: 25px;
  height: 23px;
  background-image: url('../assets/icons8-facebook.svg');
  background-size: 100% 100%;
  background-position: center;
}

.icone2{
  width: 25px;
  height:20px;
  background-image: url('../assets/icons8-instagram.svg');
  background-size:100% 100%;
  background-position: center;
  margin:1px 0 0 0;
}

.icone1,.icone2{
  cursor: pointer;

}

.content{
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top:20px;
}

.content h2{
  color:#fff;
  padding-left:8px;
  font-weight: normal;  
  font-size:24px;
  line-height: 34px;
}



.content nav ul{
  list-style: none;
}

.content nav li{
  display: inline-block;
}

.content nav li {
  margin: 0 16px;
  
}

.content  nav a{
  font-size:18px;;
  line-height: 28px;
  color:#fff;
  text-decoration: none;
}


.content  nav a:hover{
  transition: 400ms;
  text-shadow: 1px 1px 4px black;
}


section{
  width: 100%;
  min-width: 1280px;
  padding: 0 2%;
}


section .conteudo{
  margin: 100px 40px;
  width: 100%;
  max-width: 800px;
}

.conteudo h2{
  font-size:40px;
  line-height: 40px;
  color:white;
  font-weight: 300;
  margin: 10px 0;
}

.conteudo span{
  color:rgb(5, 88, 88);
}

.conteudo p{
  margin: 15px 0;
  color:#fff;
  font-size: 16px;
  line-height: 26px;
}

.conteudo button{
  border:0;
  padding:10px;
  width: 180px;
  height: 50px;
  margin-top:20px;
  color:#fff;
  background-color:rgb(44, 97, 177);
  border-radius: 30px;
  font-size:16px;
  line-height: 26px;
  text-align: center;
}

.conteudo button:hover{
  transition:0.5s;
  text-shadow: 1px 1px 4px black;
  opacity: 0.9;
  cursor: pointer;
}

.sessao1{
  width: 100%;
  min-width: 1280px;
  padding:0 2%;
  background-color: #fff;
  margin-top:20px;
}

.sessao1-title{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  
  padding:20px;
  
  
}

.sessao1 >.container .sessao1-title h2{
  background-color:#ccc;
  width: 100%;
  font-size:30px;
  color:var(--blue);
  line-height: 40px;
  font-weight: 300;
  text-transform: uppercase;
  border:1px solid black;
  border-radius:30px;
}


.sessao1 >.container .sessao1-title h2:hover{
  transition:2s;
  text-shadow: 1px 1px 1px black;
  opacity: 0.9;
  cursor:pointer;
}

.cards{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top:20px;
}

.card{
  width: 100%;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  box-shadow: 8px 8px 3px #ccc;
  border-radius: 4px;
  margin:50px 0;
}


.card h3{
  background-color:rgb(44, 97, 177);
  text-align: center;
  padding:20px 10px;
  text-transform: uppercase;
  font-weight: 300;
  color:white;
  border-radius:4px;

}

.card label{
  display: block;
  margin: 15px 0;
  font-size:18px;
  line-height: 28px;
  padding: 0 10px;
}

.card form{
  background-color: rgba(190,190,190, 0.3);
  padding: 40px 8px;
}

.card form p{
  text-align: center;
  border-top:1px solid black;
  font-size:20px;
  line-height: 30px;
  font-weight: 300;
  padding:10px;
  font-weight: 300;

}

.card form p strong{
  color:green;
  margin-right: 3px;
}

.sessao2{
  width: 100%;
  padding:20px 2%;
  background-image: url('../assets/bg_parallax.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  color:white;
  
}


.sessao2-content {
  margin-top:30px;
}

.sessao2-content h2{
  text-align: center;
  font-size:28px;
  line-height: 38px;
  font-weight: normal;
}

.sessao2-content p{
  margin-top:20px;
  font-size:18px;
  line-height: 28px;
}

footer{
  width: 100%;
  background-color:rgba(0,0,0,0.9);
  padding:40px 0;
  color:white;
}

footer p{
  font-size:30px;
  line-height: 40px;
  border-bottom: 1px solid white;
  text-align: center;
  padding-left:80px;
}
