:root{
  --primary-color: rgba(13, 139, 34, 0.87);
  --font-green: rgba(78, 168, 92, 0.87);

}

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Source+Sans',Arial, Helvetica, sans-serif;
}

html,body{
  height: 100%;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
}

.container{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.header-content{
  width: 100%;
  padding: 10px 2%;
}

.header-content > .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-content  > .container >.logo{
  width: 150px;
  height: 80px;
  background-image: url('../assets/img/logoHotel.jpg');
  background-size:100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}



.header-content nav ul{
  list-style-type: none;
  margin-top:25px;
}

.header-content nav ul li{
  display: inline-block;
  margin: 0 8px;
}

.header-content nav li a{
 text-decoration: none;
 color:black;
 font-weight: 300;
}

.header-content nav li a:hover{
  transition: 0.8s;
  color: rgba(13, 139, 34, 0.87)
}

.bg{
  padding: 10px 2%;
  width: 100%;
  min-height: 680px;
  background-image: url('../assets/img/hero.jpg');
  background-size: cover;
  background-position: center;
}

.bg-content{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:150px;

}

.bg-content h1{
  font-size:50px;
  line-height: 60px;
  color:#fff;
  padding:40px 0 15px 0;
  font-weight: 300;
}

.bg-content h2{
  font-size:30px;
  line-height: 40px;
  font-weight: 300;
  color:#fff;
}

.bg-content button{
  margin-top:20px;
  width: 240px;
  height: 50px;
  padding:10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size:15px;
  line-height: 25px;

}

.bg-content button:hover{
  transition:0.8s;

  background-color:rgb(171, 224, 65);
  color:#fff;
  font-weight: bold;
  cursor: pointer;
}

.sessao1{
  width: 100%;
  padding:40px  2% 0 2%;
}

.sessao1-content{
  width: 100%;
  max-width: 800px;
  margin: 30px auto;

}

.sessao1-content h2{
  padding: 14px 0;
  text-align: center;
  font-size:39px;
  line-height: 49px;
}

.sessao1-content p{
  text-align: center;
  font-size:18px;
  line-height: 28px;
}

.sessao1-content .line{
  margin:40px auto 10px auto;
  height: 2px;
  width: 300px;
  background-color:black;
}

.sessao2{
  width: 100%;
  padding:10px 2%;
  margin:40px 0;
}

.photos{
  width:calc(100% + 32px);
  margin: 0 auto;
  display: flex;
  flex-flow:  row wrap;
}

.img{
  width: 40%;
  margin: 8px;
  height: 300px;
  background-size:100% 100%;
}

.img2{
  width: 55%;
  height: 300px;
  margin:8px;
  background-size:100% 100%;
}

.sessao3{
  width: 100%;
  margin-top:40px;
  padding:40px 0;
  background-color:rgb(1, 39, 1);
}

.sessao3-content{
  color:#fff;
}

.line2{
  margin:20px auto 10px auto;
  height: 2px;
  width: 300px;
  background-color:white;
}

.info-cards{
  margin-top:80px;
  display: flex;
  color:#fff;
}

.info-card{
  width: calc(100%/3);
  text-align: center;
  padding:0 30px;
}


.info-card h3{
  margin:20px 0;
  font-size:28px;
  line-height: 38px;
  font-weight: 300;
  color:var(--font-green);
}

.info-card p{
  margin-top:10px;
  font-size:18px;
  line-height: 28px;
  text-align: center;
}


.sessao4{
  width: 100%;
  padding: 60px 2%;
}

.sessao4-content{
  width: 100%;
  max-width: 600px;
  margin: 30px auto;
  text-align: center;
}

.sessao4-content  h2{
  margin: 20px 0;
  font-size:38px;
  line-height: 48px;
  font-weight: 300;
}

.sessao4-content p{
  font-size: 18px;
  margin-top:40px;
}

.sessao4-content .line{
  display: inline-block;
  width:250px;
  height: 2px;
  background-color:black;
}


.sessao4-content .input{
  margin:30px 0;
}

.sessao4-content .input input{
  width: 70%;
  height: 50px;
  outline: 0;
  padding-left: 8px;
  font-size:18px; 
}

.sessao4-content .input button{
  width: 25%;
  height: 50px;
  background-color:rgb(66, 66, 66);
  border:0;
  color:#fff;
  font-size:18px;
  margin-left: 8px;
  border-radius: 8px;
}

.sessao4-content .input button:hover{
  cursor: pointer;
  transition:2s;
  opacity: 0.8;
  text-shadow: 1px 1px 2px black;
}

footer{
  padding: 40px 2%;
  width: 100%;
  background-color:rgb(6, 48, 6);
  text-align: center;
  color:#fff;
  font-weight: bold;
}